<header class="header">
  <!-- elogowajajaja -->
<div class="logo">
  <img
    src="https://cdn2.steamgriddb.com/logo_thumb/debec436828e096fcdac3818b479e9c5.png"
    alt="Yume Nikki"
  />
</div>

  <nav class="nav">
    <a routerLink="/" routerLinkActive="active">inicio</a>
    <span class="sep"></span>
    <a routerLink="/que-es" routerLinkActive="active">Que es</a>
    <span class="sep"></span>
    <a routerLink="/sobre-mi" routerLinkActive="active">Sobre mi</a>
    <span class="sep"></span>
    <a routerLink="/yume-nikki" routerLinkActive="active">Yume nikki???¡¡¡¿¿¿</a>
  </nav>

  <!-- layumenikkixd -->
<div class="sprite">
 <img
  src="assets/madotsuki.png"
  alt="Madotsuki"
/>

</div>
</header>