.header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  padding: 0px 25px;
  gap: 80px;
}

/* LOGO */
.logo img {
  height: 110px;
  width: auto;
  image-rendering: pixelated;
}

/* NAV BAR */
.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 1px;
  background: linear-gradient(
    to bottom,
    #1e1e2f
  );
  border: 1px solid #1e1e2f;
  gap: 20px;
}

.nav a {
  color: #c5b5c5;
  text-decoration: none;
  font-size: 20px;
  white-space: nowrap;
}

.nav a:hover {
  color: #000000;
}

/* SEPARADORES */
.sep {
  width: 2px;
  height: 25px;
  background: #59283e;
}

/* SPRITE */
.sprite img {
  height: 160px;
  image-rendering: pixelated;
}
header {
  font-family: 'Cinzel', serif;
}